<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ -->
<!-- Harbor logging settings for All Environments -->
<!-- _/_/_/_/_/_/_/_/_/_/ -->
<configuration>
  <property resource="harbor_env.properties" />
  <property resource="harbor_env_${lasta.env}.properties" />
  <property name="domain.name" value="harbor"/>
  <property name="log.level" value="${log.level:-debug}"/>
  <property name="log.pattern" value="%d [%t] %-5p [DF] \\(%C{0}@%M\\(\\):%L\\) - %m%n"/>
  <property name="log.app.pattern" value="%d [%t] %-5p [AP] \\(%C{0}@%M\\(\\):%L\\) - %m%n"/>
  <property name="log.error.pattern" value="%d [%t] %-5p [ER] \\(%C{0}@%M\\(\\):%L\\) - %m%n"/>
  <property name="log.mail.pattern" value="%d [%t] %-5p [ML] \\(%C{0}@%M\\(\\):%L\\) - %m%n"/>
  <property name="log.file.basedir" value="${log.file.basedir:-/tmp/lastaflute/undefinedbasedir}"/>
  <property name="log.file.encoding" value="UTF-8"/>
  <property name="backup.date.suffix" value="_%d{yyyyMMdd}"/>
  <property name="backup.max.history" value="180"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><charset>${log.file.encoding}</charset><pattern>${log.pattern}</pattern></encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>${log.console.level}</level></filter>
  </appender>
  <appender name="appfile" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><charset>${log.file.encoding}</charset><pattern>${log.app.pattern}</pattern></encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>${log.console.level}</level></filter>
  </appender>
  <appender name="errorfile" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><charset>${log.file.encoding}</charset><pattern>${log.error.pattern}</pattern></encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>ERROR</level></filter>
  </appender>
  <appender name="mailfile" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><charset>${log.file.encoding}</charset><pattern>${log.mail.pattern}</pattern></encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>${log.console.level}</level></filter>
  </appender>

  <logger name="org.dbflute" additivity="false" level="${log.level}">
    <appender-ref ref="console"/><appender-ref ref="appfile"/><appender-ref ref="errorfile"/>
  </logger>
  <logger name="org.lastaflute" additivity="false" level="${log.level}">
    <appender-ref ref="console"/><appender-ref ref="appfile"/><appender-ref ref="errorfile"/>
  </logger>
  <logger name="org.docksidestage" additivity="false" level="${log.level}">
    <appender-ref ref="console"/><appender-ref ref="appfile"/><appender-ref ref="errorfile"/>
  </logger>
  <logger name="mailflute.sending" additivity="false" level="${log.level}">
    <appender-ref ref="mailfile"/>
  </logger>
  <root level="error">
    <appender-ref ref="console"/><appender-ref ref="errorfile"/>
  </root>
</configuration>
